/*Colors*/
$cardColorLightGrey: lightgrey;
$cardColorWhite: #fff;
$cardColorDarkGrey: rgb(85, 85, 85);
$cardColorBlue: #686de0;
$footerColorBlue: rgb(141, 147, 226);

/*Spacing*/
$standardSize: 20px;
